@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/* html {
    height: 100%;
} */
body {
    padding: 100px;
    background: linear-gradient(to bottom, #000000 0%, #0c173e 100%);
    /* background-image: url(image-container/iiserm.jpeg); */



    background-size: cover;
    background-repeat: ;
}


.sub { width: 700px;
    height: 500px;
    border: wheat;
    border-width: 1px;
    float: left;
    margin-left: 20px;
    

}

.container {

    width: 1444px;
    margin-left: auto;
    margin-right: auto;
}
.

nana {
    text-align: center;
    color: burlywood;
    /* background-color: red; */
}
header {
    height: auto;
    margin: auto;
    font-size: medium;
    /* height: 100px; */
}



main {
    height: auto;
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;

}
main h1 {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
main p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer {
    padding-top: 30px;
    padding-left: 10px;
    text-align: left;
    display: block;
    color: wheat;
    /* background-color: rgba(128, 128, 128, 0.209); */
    /* height: 10px; */
}

h1 {
    font-size: 65px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    font-size: 35px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p {

    color: wheat;
    font-size: 25px;
}
a {
    color: white;
    font-family: 'Arial','Times New Roman', Times, serif;
    /* text-decoration: none; */  
}

nav {
    background: linear-gradient(to bottom, #1d4c8fc1 0%, #000000 100%);
    background-color: rgba(57, 141, 162, 0.771);
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    
    font-family: 'Courier New', Courier, monospace;

}


.text-image {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;


}

header p {
    text-align: center;
    margin-right: 200px;

}

header a {
    text-align: center;
}











.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 40%;
  }
  /* Facebook */
/* .fa-facebook {
    background: #3B5998;
    color: white;
  } */
.fa-mail {
    background-color: #007bb5;
}
.fa-linkedin {
    background-color: aliceblue;
    color: #007bb5;
}
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .h1 { color: whitesmoke;
    width: 1440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


  }
.right {
    float: right;
}

.right-margin {
    margin-right: 275px;
}


main p {
    text-align: left;
}




/* For Research experiences */
.experience {
    text-align: center;
    color: lemonchiffon;
}